= semantic_form_for question, remote: remote, html: { id: "edit-question-#{question.id}"} do |f|
 = f.inputs do
  = f.input :title         
  = f.input  :content
  -if question.new_record?
   = f.semantic_fields_for :attachments do |a| 
    = render 'questions/attachment_fields', f: a      
 .links
  = link_to_add_association 'add attachment', f, :attachments
 = f.submit "Save"
    
    


